<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/plantillas/principal :: head">
</head>
<body>
<th:block th:replace="/plantillas/menu :: navbar"></th:block>
<div class="container mt-5 w-75">
    <h1>Lista de Cuentas</h1>
    <a class="btn btn-primary rounded-pill m-1" th:href="@{/cuentas/formulario}"><strong>Crear Cuentas</strong></a>
    <table class="table table-bordered">
        <thead>
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Cuenta</th>
            <th scope="col">Titular</th>
            <th scope="col">Tipo Movimiento</th>
            <th scope="col">Valor</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pruebaCuenta:${transacciones}">
            <th scope="row" th:text="${pruebaCuenta.id}"></th>
            <td th:text="${pruebaCuenta.cuenta.numeroCuenta}"></td>
            <td th:text="${pruebaCuenta.cuenta.cliente.nombre}"></td>
            <td th:text="${pruebaCuenta.tipoMovimiento}"></td>
            <td th:text="${pruebaCuenta.valor}"></td>
            <td th:text="${pruebaCuenta.fecha}"></td>
            <td >
                <div class="row justify-content-center">
                    <a class="btn btn-warning rounded-pill col-4"><strong>Editar</strong></a>
                    <a class="btn btn-danger rounded-pill col-4 "><strong>Eliminar</strong></a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<th:block th:replace="/plantillas/principal :: scripts"></th:block>
</body>
</html>
